.input {
	width: 100%;
	box-sizing: border-box;
	padding: 16px;
	border: 2px solid var(--gray);
	margin-top: 8px;
	background-color: transparent;
	border-radius: 16px;
	color: var(--white);
	font-size: 20px;
	outline: none;
}

.input::placeholder {
	color: var(--gray);
}
