@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
	--white: #fffffe;
	--gray: #94a1b2;
	--darkGray: #393d42;
	--green: #2cb67b;
	--black: #16161a;
	--purple: #7f5af0;
	--sizeExtraSmall: 4px;
	--sizeSmall: 8px;
	--sizeNormal: 16px;
	--sizeBig: 24px;
	--sizeExtraBig: 32px;
	--buttonOutline: 2px;
	--buttonBrightness: brightness(0.9);
	--buttonTransform: scale(0.95);
	--buttonBoxShadow: 0 0 10px var(--gray);
	--disabledGrayscale: grayscale(0.5);
	--disabledOpacity: 0.5;
	--transitionFast: 50ms;
	--transitionNormal: 250ms;
	--transitionSlow: 500ms;

	color: var(--white);
	font-family: Roboto, sans-serif;
}
