@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
	--white: #fffffe;
	--gray: #94a1b2;
	--darkGray: #393d42;
	--green: #2cb67b;
	--black: #16161a;
	--purple: #7f5af0;
	--red: #ec3b3b;
	--blue: #3b58e7;
	--sizeExtraSmall: 4px;
	--sizeSmall: 8px;
	--sizeNormal: 16px;
	--sizeBig: 24px;
	--sizeExtraBig: 32px;
	--pageTitleFontSize: 48px;
	--blockTitleFontSize: 24px;
	--blockTextFontSize: 20px;
	--buttonOutline: 2px;
	--buttonBrightness: brightness(0.9);
	--buttonTransform: scale(0.95);
	--buttonBoxShadow: 0 0 20px var(--darkGray);
	--border: 4px solid var(--darkGray);
	--disabledGrayscale: grayscale(0.5);
	--disabledOpacity: 0.5;
	--transitionFast: 50ms;
	--transitionNormal: 250ms;
	--transitionSlow: 500ms;
	--blur-filter: blur(8px);

	color: var(--white);
	font-family: Montserrat, sans-serif;
}

ul {
	padding: 0 20px;
	margin: 0;
}
