.block {
	display: flex;
	flex-direction: column;
	margin-top: var(--sizeBig);
	gap: var(--sizeExtraSmall);
}

.title {
	font-size: var(--blockTitleFontSize);
}

.text {
	color: var(--gray);
	font-size: var(--blockTextFontSize);
}

.highlighted {
	composes: text;
	color: var(--green);
}

.ghost {
	composes: text;
	color: var(--gray);
}
