.bigTitle {
	composes: bigTitle from "@/assets/styles.module.css";
}

.block {
	composes: block from "@/assets/styles.module.css";
}

.mainText {
	composes: mainText from "@/assets/styles.module.css";
}

.subText {
	composes: subText from "@/assets/styles.module.css";
}

.button {
	composes: button from "@/assets/styles.module.css";
}

.submitButton {
	composes: submitButton from "@/assets/styles.module.css";
}

.highlightedText {
	composes: highlightedText from "@/assets/styles.module.css";
}
