.row {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	gap: 10px;
}

.button {
	composes: button from "@/assets/styles.module.css";
	flex-basis: 80px;
	font-size: 40px;
}

.number {
	display: flex;
	box-sizing: border-box;
	flex-basis: 80px;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--purple);
	border-radius: 16px;
	font-size: 40px;
}
