.popup {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	backdrop-filter: var(--blur-filter);
	color: var(--black);
}

.content {
	overflow: hidden;
	width: 100%;
	max-width: 500px;
	box-sizing: border-box;
	padding: var(--sizeNormal);
	margin: var(--sizeNormal);
	background-color: var(--darkGray);
	border-radius: var(--sizeNormal);
	color: var(--gray);
	font-size: var(--blockTextFontSize);
}

.heading {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: var(--sizeNormal);
	color: var(--white);
	font-size: var(--blockTitleFontSize);
	font-weight: bold;
	gap: var(--sizeSmall);
}

.closeButton:hover {
	cursor: pointer;
}
